<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
    <%-include("../cdn.ejs")%>
</head>
<body>
    <%-include('navbar.ejs')%>
    <div class="container-fluid">
        

        <div class="container border rounded my-3">
            <!-- <h4 class="text-center bg-dark text-warning p-3 my-3 border rounded">CAROUSEL CARD</h4> -->
            <form action="/admin/cardsdata" method="post" enctype="multipart/form-data">
                 
                <label for="" class="my-2">Enter Name </label>
                <input type="text" name="p_name" id="p_name" placeholder="Enter Name" class="form-control mb-3" required>

                <label for="" class="my-2">Enter Price </label>
                <input type="text" name="p_price" id="p_price" placeholder="Enter Product Price" class="form-control mb-3" required>                

                <label for="" class="my-2">Enter Description </label>
                <input type="text" name="p_description" id="p_description" placeholder="Enter Description" class=" mb-3 form-control" required>

                <label for="">Choose Category</label>
                <select name="p_category" id="p_category" class="form-control">
                     
                    <option value="Carousel">Carousel</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Drinks">Drinks</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Dinner">Dinner</option>

                </select>

                <label for="" class="my-2">Upload image </label>
                <input type="file" name="p_image" id="p_image" placeholder="upload image" class="form-control  mb-3" required>

               <div class="text-center"> <button class="btn btn-sm fw-bold bg-dark text-warning px-3 my-3">Submit</button></div>
            </form>
        </div>
    </div>
 </body>
</html>