<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie</title>
    <%-include('../cdn.ejs')%>
</head>
<body>
    <%-include('navbar.ejs')%>
    <h3>Buy items</h3>
    <%-include("footer.ejs")%>

</body>
</html>