 <div class="container-fluid bg-dark text-white p-3 mt-5">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled lh-lg">
                <a href="" class="text-decoration-none"><li class="text-white ">COMPANY</li></a>
                <a href="/#about" class="text-decoration-none"><li class="text-white">About</li></a>
                <a href="/lunch" class="text-decoration-none"><li class="text-white">Menu</li></a>
                <a href="/admin" class="text-decoration-none text-light" target="_blank">admin</a>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled lh-lg">
               <a href="" class="text-decoration-none"> <li class="text-white">LEGAL</li></a>
               <a href="" class="text-decoration-none"> <li class="text-white">Privacy Policy</li></a>
               <a href="" class="text-decoration-none"> <li class="text-white">Licensing</li></a>
               <a href="" class="text-decoration-none"> <li class="text-white">Terms & Condition</li></a>
            </ul>
        </div>

        
    </div>

 </div>
 <div class="container-fluid bg-dark opacity-75 text-light p-2">
    <p>@2022 Food Delivery. All Rights Reserved</p>
 </div>