<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <%-include('../cdn.ejs')%>
</head>
<body>

   <%-include('navbar.ejs')%>
   <%-include('menu_nav.ejs')%>

      <!-- <div class="container">
        <div class="row">
            <div class="col-md-1 "><a class="text-decoration-none text-black" href="/lunch">LUNCH</a></div>
            <div class="col-md-1 "><a class="text-decoration-none text-black" href="/drinks">DRINKS</a></div>
            <div class="col-md-1 "><a class="text-decoration-none text-black" href="/dinner">DINNER</a></div>
            <div class="col-md-1 "><a class="text-decoration-none text-black" href="/breakfast">BREAKFAST</a></div>
        </div>
      </div> -->

     <%-include("footer.ejs")%>
</body>
</html>